@model IEnumerable<System_zarządzania_błędami.Entities.Users>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Administrator</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            <td>@user.LastName</td>
                            <td>@user.Login</td>
                            <td>@user.Email</td>
                            <td>@(user.IsAdmin ? "Tak" : "Nie")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
