@model ContactFormModel

@using (Html.BeginForm("SubmitForm", "YourController", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div>
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)
    </div>

    <div>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
    </div>

    <div>
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message)
    </div>

    <button type="submit">Submit</button>
}
